<div class="courses-details-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="courses-details">
          <div class="courses-card">
            <h2>MBBS in Georgia</h2>
            <div class="img">
              <img src="/assets/images/country/kyrgyzstan_img.jpg" alt="Image" />
            </div>
            <div class="learn">
              <h3>Pursue MBBS With Excellence And Global Recognition</h3>
              <p>
                Every year, many students choose to study MBBS in Georgia, making it one of the top destinations for international students. The country offers MCI/NMC-approved medical colleges and a world-standard education system. With internationally experienced medical professionals, Georgia provides excellent opportunities for students to pursue their medical studies. 
              </p>
              <p>Know about medical courses, top medical colleges, fee structure, housing facilities, and other essential details for students considering studying in Georgia. </p>
              <h3>About Georgia</h3>
              <div class="overview">
                <p>Georgia is a developing country located at the intersection of East Europe and West Asia. It shares its borders with Russia to the East, Turkey and Armenia to the South, bordered by the Black Sea to the North. With a land area of 69,700 sq. km. and a population of approximately 4 million it maintains good relations with India.</p>
                <div class="overview-box">
                  <!-- <h4>Globally recognized degrees</h4>
                  <h4>Feasible Cost for Education</h4>
                  <h4>Affordable Cost of Living</h4>
                  <h4>Layton Basic Logical Program</h4> -->
                </div>
              </div>
              <h3>Why Study MBBS in Georgia</h3>
              <div class="overview">
                <p>Every year, over 7,000 students choose to study MBBS in Georgia. They apply to MCI/NMC-recognized medical colleges for direct admission, benefiting from affordable fees. Fulfilling the eligibility criteria allows students to pursue their MBBS studies in Georgia. Language is not a barrier as the medium of education is English, and top-notch housing facilities ensure a comfortable stay for students.</p>
                <div class="overview-box">
                  <h4>
                      Globally acclaimed education system
                  </h4>
                  <h4>
                     Affordable tuition fees
                  </h4>
                  <h4>
                    English-medium classrooms
                  </h4>
                  <h4>Decent FMGE passing rate</h4>
                  <h4>Internationally recognized medical colleges</h4>
                  <h4>Valid degree in India</h4>
                  <h4>Availability of Indian food</h4>
                  <h4>No requirement for IELTS/TOEFL scores</h4>
                  <h4>International exposure opportunities</h4>
                </div>
              </div>
              <h3>MBBS in Georgia Fees Structure 2023</h3>
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                   <tr>
                    <th>College Name</th>
                    <th colspan="2">Tuition Fees (USD)</th>
                    <th colspan="2">Accommodation (USD)</th>
                    <th colspan="2">Other Charges (USD)</th>
                    <th colspan="2">Total (USD)</th>
                   </tr>
                   <tr>
                    <th></th>
                    <th>1st Year</th>
                    <th>2nd to 5th Year</th>
                    <th>1st Year</th>
                    <th>2nd to 5th Year</th>
                    <th>1st Year</th>
                    <th>2nd to 5th Year</th>
                    <th>1st Year</th>
                    <th>2nd to 5th Year</th>                     
                   </tr>
                   <tr *ngFor="let item of data">
                    <td>{{ item.name }}</td>
                    <td>{{ item.tution_fee.first }}</td>
                    <td>{{ item.tution_fee.last }}</td>
                    <td>{{ item.accomodation.first }}</td>
                    <td>{{ item.accomodation.last }}</td>
                    <td>{{ item.other_charges.first }}</td>
                    <td>{{ item.other_charges.last }}</td>
                    <td>{{ item.total.first }}</td>
                    <td>{{ item.total.last }}</td>
                   </tr>
                </table>
              </div>
              <div>
                <h3>Course Offered</h3>
                <p>MBBS is a popular study program for international students in Georgia. In addition to MBBS, the country's medical institutions offer various other courses for international students who meet the admission requirements. According to official Georgian government sources, the MBBS course duration includes hands-on training time.</p>
                <h3>Eligibility Criteria</h3>
                <p>To ensure easy and direct enrollment in your preferred medical colleges in Georgia, it is necessary to fulfill the admission requirements. Please meet the following eligibility criteria for MBBS in Georgia to avoid disqualification. Please find the MBBS in Georgia eligibility criteria mentioned below.</p>
                <div class="table-responsive">
                  <table class="table table-bordered">
                     <tr>
                      <td>Age Limit</td>
                      <td>The medical aspirant’s age should be 17 years or above</td>
                     </tr>
                     <tr>
                      <td>Exam</td>
                      <td>NEET Qualified</td>
                     </tr>
                     <tr>
                      <td>Educational Qualification</td>
                      <td>	
                        50% marks in 12th board exam with Physics, Chemistry, and Biology <br/>
                        40% marks is compulsory for reserved category students
                      </td>
                     </tr>
                  </table>
                </div>
              </div>
              <div>
                <h3>MBBS in Georgia Admission Process</h3>
                <p>Contact our admission experts for complete details about MBBS in Georgia for Indian students. They assist with direct admission and guide you through the admission process. Gain the necessary information to pursue MBBS in Georgia by contacting us.</p>
                <h3>Required Documents</h3>
                <ul>
                  <li>10th Marksheet</li>
                  <li>12th Marksheet</li>
                  <li>NEET Scorecard</li>
                  <li>Original Passport</li>
                  <li>Birth Certificate</li>
                  <li>Passport-size photo with visa format</li>
                  <li>Medical Report</li>
                  <li>Bank statement</li>
                </ul>
                <h3>MCI/NMC Approved Medical Colleges in Georgia</h3>
                <p>Here are the 5 major medical institutes in Georgia offering MBBS courses, which MCI/NMC approves. Students can enroll in any of these colleges by fulfilling the admission requirements:</p>
               <h4>East European University Georgia:</h4>
               <ul>
                <li>World-class infrastructure</li>
                <li>Exchange programs with European universities</li>
                <li>Approved by NMC, WHO, and more</li>
               </ul>
               <h4>New Vision Medical University Georgia:</h4>
               <ul>
                <li>Title of higher education institute in 2019</li>
                <li>Approved by the National Medical Commission</li>
                <li>Standard housing arrangements for boys and girls</li>
               </ul>
               <h4>Batumi Shota Rustaveli State University, Batumi:</h4>
               <ul>
                <li>MCI/NMC-approved medical university</li>
                <li>5500 students, including international students</li>
                <li>One of the oldest and most renowned universities for medical studies in Georgia</li>
               </ul>
               <h4>Georgian National University, Georgia:</h4>
               <ul>
                <li>Top educational institute in Georgia</li>
                <li>4 faculties and 15 accreditations</li>
                <li>Approved by MCI/NMC</li>
               </ul>
               <h4>Tbilisi State Medical University:</h4>
               <ul>
                <li>Over 7000 UG and 3000 PG students, with 25% being foreign students</li>
                <li>Ranked 8th among educational institutions in the country</li>
                <li>More than 40,000 doctors have graduated from TSMU</li>
               </ul>
               <h4>Hostel facilities</h4>
               <p>Hostels at Georgian Medical Colleges meet world standards with furnished rooms, including a bed, chair, almirah, and necessary furniture. The hostel administration ensures strict anti-ragging rules and 24-hour security. Rooms are available for single, double, or triple occupancy, allowing students to choose according to their preferences and budget. Senior students are supportive and help first-year students with their studies. </p>
               <p>The university canteen offers Indian food, and the administrative block is just a short walk from the hostels. First-year MBBS students in Georgia should opt for university accommodation initially.</p>
              <h3>FAQs</h3>
              <h4>1.	Is it a safe place for Indian students to pursue an MBBS course in Georgia?</h4>
              <p>Yes, Georgia is considered a safe country with low crime rates. It is a top choice for many Indian students due to its quality education and safe environment.</p>
              <h4>2.	Is it mandatory for Indian students to qualify for the NEET exam before MBBS admission in Georgia?</h4>
              <p>Indian students must qualify for the NEET UG exam as mandated by the Indian government before seeking admission to Georgian universities.</p>
              <h4>3.	Is FMGE (Foreign Medical Graduate Exam) compulsory to practice in India after completing medical studies in Georgia?</h4>
              <p>FMGE is a mandatory exam conducted by the National Medical Commission for obtaining a practicing license in India.</p>
              <h4>4.	What is the cost per year  to study MBBS in MCI/NMC-approved medical colleges in Georgia?</h4>
              <p>The tuition fees for international students in Georgia's medical colleges range from USD 4000 to USD 7000 annually, varying depending on the college and ownership.</p>
              <h4>5.	Is Georgia a secure place for Indian medical students?</h4>
              <p>Yes, Georgia and India have had positive relations since 1955, and India recognizes Georgia as a country. As a result, the safety of Indian medical students is ensured, and the government provides a welcoming environment for them.</p>
              <h3>NEED HELP WITH ADMISSION?</h3>
              <p>Get a free counseling session with us.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- start sidebar added-->
        <app-sidebar></app-sidebar>
        <!-- end sidebar added-->
      </div>
    </div>
    <div class="academic-area pt-100 pb-70 bg-f4f6f9">
      <div class="container">
        <div class="section-title">
          <h2>Academics</h2>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-lg-3 col-md-6 aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="200"
            data-aos-once="true"
          >
            <div class="single-academics-card2 bg-1 bg2">
              <div class="academic-content">
                <div class="academic-top-content">
                  <i class="flaticon-graduation"></i>
                  <a href="academics-details.html"
                    ><h3>BAU International University Batumi</h3></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

