<div class="courses-details-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="courses-details">
            <div class="courses-card">
              <h2>Kokshetau State university
              </h2>
            </div>
            <div class="description">
              <div class="container p-0">
                <nav>
                  <div class="nav nav-tabs d-flex justify-content-between" id="nav-tab" role="tablist">
                   <!-- <button class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true">Introduction</button>
                    <button class="nav-link" id="nav-curriculum-tab" data-bs-toggle="tab" data-bs-target="#nav-curriculum" type="button" role="tab" aria-controls="nav-curriculum" aria-selected="false">Courses & Eligibility</button>
                    <button class="nav-link" id="nav-instructor-tab" data-bs-toggle="tab" data-bs-target="#nav-instructor" type="button" role="tab" aria-controls="nav-instructor" aria-selected="false">Fee Structure</button>
                    <button class="nav-link" id="nav-reviews-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">Scolarship</button>
                    <button class="nav-link" id="nav-impdoc-tab" data-bs-toggle="tab" data-bs-target="#nav-impdoc" type="button" role="tab" aria-controls="nav-impdoc" aria-selected="false">Important Documents</button>
                    <button class="nav-link" id="nav-gallery-tab" data-bs-toggle="tab" data-bs-target="#nav-gallery" type="button" role="tab" aria-controls="nav-gallery" aria-selected="false">Gallery</button>
                    <button class="nav-link" id="nav-othfac-tab" data-bs-toggle="tab" data-bs-target="#nav-othfac" type="button" role="tab" aria-controls="nav-othfac" aria-selected="false">Other Facility</button>
                    <button class="nav-link" id="nav-hostel-tab" data-bs-toggle="tab" data-bs-target="#nav-hostel" type="button" role="tab" aria-controls="nav-hostel" aria-selected="false">Hostel</button>
                    <button class="nav-link" id="nav-impnot-tab" data-bs-toggle="tab" data-bs-target="#nav-impnot" type="button" role="tab" aria-controls="nav-impnot" aria-selected="false">Important Notes </button>
                    <button class="nav-link" id="nav-faculty-tab" data-bs-toggle="tab" data-bs-target="#nav-faculty" type="button" role="tab" aria-controls="nav-faculty" aria-selected="false">Faculty</button>
                    <button class="nav-link" id="nav-profee-tab" data-bs-toggle="tab" data-bs-target="#nav-profee" type="button" role="tab" aria-controls="nav-profee" aria-selected="false">BMU Processing Fees</button>
                    <button class="nav-link" id="nav-awrank-tab" data-bs-toggle="tab" data-bs-target="#nav-awrank" type="button" role="tab" aria-controls="nav-awrank" aria-selected="false">Awards & Ranking</button>
                    <button class="nav-link" id="nav-mci-tab" data-bs-toggle="tab" data-bs-target="#nav-mci" type="button" role="tab" aria-controls="nav-mci" aria-selected="false">MCI Results</button>-->
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                    <div class="overview">
                      <div class="learn">
                        <p>
                          <b>Official full name of the educational organization:</b> Sh. Ualikhanov Kokshetau State University 
                        </p>
                        <p>
                          <b>Abbreviated name of the educational organization:</b>Sh. Ualikhanov Kokshetau State University 
                        </p>
                        <p>Year Of Establishment: 1962</p>
                        <p>Telephone (reception): (8362)68-80-02 <br> Fax: (8362)56-57-81 <br> E-mail: <a href="mailto:rector@marsu.ru"></a>
                          <br> Website: www.kokshetaustateuniversity.com

                        </p>
                        <p>Location address of the educational organization:Abay Street, 76 Kokshetau Akmola, Astana, Kazakhstan</p>
                        <h3>Introduction:</h3>
                        <p>Sh. Ualikhanov Kokshetau State University is a Government State University founded in 1962 and is located in the city of Kokshetau, Kazakhstan. The university was renamed after the Sh. Ualikhanov who was one of the greatest Kazakh scientists, historians, ethnographers, geographers, translators, and travelers. Pursuing MBBS in Kazakhstan especially at Kokshetau State University brings vast opportunities for medical students The university has got the NAAR accreditation ratings for 60 educational programs providing quality education to medical students.</p>
                        <p>The university oﬀers multilevel programs in various specialties which includes a bachelor’s degree (65 specialties), a master’s degree (30 specialties), a doctoral degree (6 specialties) in the areas of natural science, and General Medicine. The university oﬀers theoretical and practical knowledge at aﬀordable cost, hence setting a great benchmark for international students. Today there are around 7000 medical students studying at the medical faculty in which over 1000 are foreign students from diﬀerent countries.</p>
                        <h3>University Ranking (2020-21) </h3>
                        <p>According to 4icu, the ranking of Sh. Ualikhanov Kokshetau State University is 27 in country.</p>
                        <h3>Accreditation </h3>
                        <p>KSU feel honored to announce our affiliated partners.</p>
                        <p>
                          <b>Information about the places where educational activities are carried out, including information about the addresses of the places where educational activities are carried out, which, in accordance with Part 4 of Article 91 of the Federal Law of December 29, 2012 No. 273-FZ "On Education in the Russian Federation", are not included in the corresponding entry in the register of licenses for educational activities</b>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <app-sidebar></app-sidebar>
        </div>
      </div>
    </div>
  </div>
  