<div class="courses-details-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="courses-details">
            <div class="courses-card">
              <h2>Capsian university</h2>
            </div>
            <div class="description">
              <div class="container p-0">
                <nav>
                  <div class="nav nav-tabs d-flex justify-content-between" id="nav-tab" role="tablist">
                    
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-overview" role="tabpanel"
                    aria-labelledby="nav-overview-tab">
                    <div class="overview">
                      <div class="learn">
                        <p>
                          <b>Official full name of the educational organization:</b>Caspian University 
                        </p>
                        <p>
                          <b>Abbreviated name of the educational organization:</b> Caspian University 
                        </p>
                        <p>Year Of Foundation: 1992</p>
                        <p>Telephone (reception): (8362)68-80-02 <br> Fax: (8362)56-57-81 <br> E-mail: <a
                            href="mailto:rector@marsu.ru">rector@marsu.ru</a>
                          <br> Website: www.marsu.ru
                        </p>
                        <p>Location address of the educational organization: Almaty , Kazakhstan</p>
                        <p>
                          <p>Caspian University is a multidisciplinary university and is positioned on the market of educational services as a university providing quality, continuing education under the programs of pre-secondary education (college), bachelor and Magistracy (University). Caspian University provides training in 18 specialties of bachelor’s degree, 6 specialties of Magistracy, 2 specialities of doctoral PhD.</p>
                          <h3>5 Directions of Preparation:</h3>
                          <ul>
                            <li>Adilet High School of Law</li>
                            <li>Higher School of Economics and Management</li>
                            <li>	Graduate School of Humanities</li>
                            <li>Academy of Construction, architecture and design</li>
                            <li>Institute of Oil and Gas business, geology and IT</li>
                          </ul>
                          <p>Based In 1992, Almaty Accreditation Official accreditation of MES RK International Specialized Accreditation ACQUIN Institutional accreditation of NAAR In Caspian University students can study at the State grants and grants of the rector of the university. Activists and school students can apply for scholarships from international companies and organizations. All this allows students to develop in a competitive environment of modern society.</p>
                          <h3>Mission:</h3>
                          <p>“We are expanding the boundaries of knowledge of the new generation of Kazakhstanis to serve the country and humanity “</p>
                          <p>The values of the university are high professionalism as adherence to the highest professional and ethical standards, as well as innovation as a source of new knowledge generation and learning technology. Being the owners of the national quality mark “Flawless”, Caspian University today is the guarantor of quality education, striving to meet high standards of international level.</p>
                          <p>
                          <b>Information about the places where educational activities are carried out, including
                            information about the addresses of the places where educational activities are carried out,
                            which, in accordance with Part 4 of Article 91 of the Federal Law of December 29, 2012 No.
                            273-FZ "On Education in the Russian Federation", are not included in the corresponding entry
                            in the register of licenses for educational activities</b>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
          <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div>