<div class="graduate-admission pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="how-to-apply">
            <h2>Detail About us</h2>
            <p>
                Studying medicine abroad can be a life-changing experience that opens up new horizons
                and opportunities for students. At Independent Study Abroad, we make that dream a reality
                for students who aspire to pursue MBBS education abroad.
            </p>
            <div class="apply-list">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Graduate Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Alumni & Giving
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Undergraduate
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="submit">
              <!-- <h3>Submit Your Transcripts</h3> -->
              <p>
                Our comprehensive services include expert counseling, university selection, admission
assistance, document preparation, travel arrangements, accommodation solutions, and visa
assistance.
              </p>
              <p>
                We work closely with each of our students and their families. Right information and guidance
                are all that they need to make informed decisions and navigate the admissions process
                confidently. We&#39;re excited to join your journey toward a brighter future.
              </p>
              <div class="academic-area pt-70 pb-70">
                <div class="container">
                  <div class="section-title">
                    <h2>Who We Are</h2>
                    <p>
                      The team of Independent Study Abroad works to empower students to
                      fulfill their dreams of pursuing an MBBS education abroad. Our highly
                      skilled education advisers and counselors are committed to assisting
                      students in realizing their full potential via personalized guidance and
                      assistance.
                    </p>
                    <p>
                      Through world-class education- students will hone their knowledge and
                      expertise in medical science. We strive to make the admissions process
                      as simple and hassle-free as possible. Now that students can focus on
                      what matters: their education and personal development!
                    </p>
                  </div>
                  <h2 class="text-center mb-4">What We Offer</h2>
                  <div class="row justify-content-center">
                    <div
                      class="col-lg-4 col-md-6"
                      data-aos="fade-up"
                      data-aos-duration="1200"
                      data-aos-delay="200"
                      data-aos-once="true"
                    >
                      <div class="single-academics-card">
                        <div class="academic-top-content">
                          <i class="flaticon-college-graduation"></i>
                          <a href="academics-details.html"
                            ><h3>Documentation Assistance</h3></a
                          >
                        </div>
                        <p>
                          Our team assists students in preparing all necessary documents for
                          admission to their desired universities abroad.
                        </p>
                        <!-- <a href="academics-details.html" class="read-more-btn"
                          >Undergraduate Education<i class="flaticon-next"></i
                        ></a> -->
                      </div>
                    </div>
                    <div
                      class="col-lg-4 col-md-6"
                      data-aos="fade-up"
                      data-aos-duration="1200"
                      data-aos-delay="400"
                      data-aos-once="true"
                    >
                      <div class="single-academics-card">
                        <div class="academic-top-content">
                          <i class="flaticon-graduation"></i>
                          <a href="academics-details.html"><h3>Travel Arrangement</h3></a>
                        </div>
                        <p>
                          We help students with travel arrangements, including flight bookings
                          and visa assistance.
                        </p>
                        <!-- <a href="academics-details.html" class="read-more-btn"
                          >Graduate Education<i class="flaticon-next"></i
                        ></a> -->
                      </div>
                    </div>
                    <div
                      class="col-lg-4 col-md-6"
                      data-aos="fade-up"
                      data-aos-duration="1200"
                      data-aos-delay="600"
                      data-aos-once="true"
                    >
                      <div class="single-academics-card">
                        <div class="academic-top-content">
                          <i class="flaticon-writing-tool"></i>
                          <a href="academics-details.html"><h3>Accommodation</h3></a>
                        </div>
                        <p>
                          We support finding suitable accommodation near their university,
                          such as student housing or homestays.
                        </p>
                      </div>
                    </div>
                    <div
                    class="col-lg-4 col-md-6"
                    data-aos="fade-up"
                    data-aos-duration="1200"
                    data-aos-delay="600"
                    data-aos-once="true"
                  >
                    <div class="single-academics-card">
                      <div class="academic-top-content">
                        <i class="flaticon-writing-tool"></i>
                        <a href="academics-details.html"><h3>Counseling</h3></a>
                      </div>
                      <p>
                        Our team of experienced counselors offers guidance and support to students throughout the
              application and admission process and during their stay abroad.
                      </p>
                    </div>
                  </div>
                  <div
                  class="col-lg-4 col-md-6"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                  data-aos-once="true"
                >
                  <div class="single-academics-card">
                    <div class="academic-top-content">
                      <i class="flaticon-writing-tool"></i>
                      <a href="academics-details.html"><h3>Visa Assistance</h3></a>
                    </div>
                    <p>
                      We provide visa assistance to all students who enroll through us, taking the stress out of the
              visa application process.
                    </p>
                  </div>
                </div>
                <div
                class="col-lg-4 col-md-6"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-delay="600"
                data-aos-once="true"
              >
                <div class="single-academics-card">
                  <div class="academic-top-content">
                    <i class="flaticon-writing-tool"></i>
                    <a href="academics-details.html"><h3>Admission</h3></a>
                  </div>
                  <p>
                    We assist students in navigating the admissions process by submitting applications, tracking
              status, and contacting institutions on their behalf.
                  </p>
                </div>
              </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
