<div class="graduate-admission pt-100 pb-70">
    <div class="container">
      <div class="row">
        
          <div class="col-md-7">
            <div class="how-to-apply">
            <h2>About us</h2>
            <p>
              Studying medicine abroad can be a life-changing experience that opens up new horizons
              and opportunities for students. At Independent Study Abroad, we make that dream a reality
              for students who aspire to pursue MBBS education abroad.
          </p>
            <div class="apply-list">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Graduate Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Alumni & Giving
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Undergraduate
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
              </div>
            </div>
           
          </div>
        </div>
          <div class="col-md-5">
            <img src="assets/images/campus-information/campus-1.jpg">
          </div>
          
        </div>
      
    </div>
  </div>
